[Desktop Entry]
Type=Application
Name=Neovim
Comment=Edit text files with Neovim
Exec=kitty -e sh -c "nvim %F"
Icon=nvim
Terminal=false
Categories=Utility;TextEditor;
StartupNotify=true
